.AB64CF89
.CFUserTextEncoding
.Xauthority
.DS_Store
.config
.cups/
.drush/
.dvdcss
.fontconfig
.gem
.gitconfig
*_history
.inkscape*
.mc
~.mc/ini
.rnd
.recently-used*
.ssh/*
!.ssh/id_rsa.pub
*hst
.subversion/
.viminfo
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
