/.android/
/.acquia/
/.adobe/
/.ansible/
/.cache/
/.CFUserTextEncoding
/.composer
/.console/
/.cordova/
/.docker/
/.ionic/
/.MacOSX
/.mapbox-studio/
/.nvm/
/.plugman/
/.terminus/
/.gitconfig
/.gitk
/.cache
/.google-cloud-sdk/
/.bash_history
/.jilla
/.platform
/.jiraclirc.json
/.node-gyp/
/.ssh/known_hosts
/.ssh/id_rsa
/.neocon
/.rvm
/.spf13-vim-3
/.viminfo
/.vimundo
/.vimswap
/.vimbackup
/.vimviews
/.lesshst
/.dropbox
/.local
/Backups/
/Desktop/
/Dropbox
/Dropbox */
/Documents/
/Downloads/
/Icon*
/Library/
/Movies/
/Music/
/Pictures/
/Projects/
/Public/
/Sites/
