# Make all the patterns in this file apply to *all* projects using:
*   `git config --global core.excludesfile ~/.gitignore`

.DS_Store
._*
*~
*.orig
*.patch
*.diff
*#
/.CFUserTextEncoding
/.MacOSX
/.gitconfig
/.gitk
/.bash_history
/.ssh/known_hosts
/.ssh/id_rsa
/.viminfo
/.lesshst
/.dropbox/
/Backups/
/Desktop/
/Documents/
/Downloads/
/Icon*
/Library/
/Movies/
/Music/
/Pictures/
/Projects/
/Public/
/Sites/
