# File: Local git configurations
#
# This file is not tracked in the dotfiles git repository.
# Place personal info, such as name, email, and api tokens here.
#
# Usage:
#
#   Copy .gitconfig.local.dist to .gitconfig.local and adjust as necessary.
#

[user]
    name = Your Name
    email = you@example.com

[github]
    user = <your-github-username-here>
    token = <your-github-api-token-here>
